{% extends "base.html" %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Welcome to Farooque Cart official site
      </p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <p align="justify">
            <br /><br />
          At Farooque Cart, we aim to provide a seamless and enjoyable shopping
          experience. Our platform offers a diverse range of high-quality
          products, including electronics, groceries, clothing, and more,
          carefully curated to meet your everyday needs. Whether you're looking
          for the latest tech gadgets or essentials for your home, we've got you
          covered.
          <br /><br />

          We believe in delivering exceptional customer service and are
          committed to making your shopping journey hassle-free. Our mission is
          to bring you the best deals and a wide selection, all at your
          fingertips. Shop with confidence at Farooque Cart, where convenience
          and quality meet!<br /><br />
        </p>
      </div>
    </center>
  </div>
</div>

{% endblock %}
